main {
    height: 510px;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #f1f3f4;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

main h2 {
    color: #333333;
}

.slideshow-container {
    position: relative;
    max-width: 400px; /* bredd på bildspelet */
    margin: 50px auto; /* centrera i main */
    display: flex;
    align-items: center;
}

.slide {
    display: none; /* bara en bild visas åt gången */
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 12px 18px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 5px;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
